* text=auto !eol
/.classpath -text svneol=unset#application/xml
/.project -text svneol=unset#application/xml
.settings/.jsdtscope -text svneol=unset#application/xml
.settings/org.eclipse.core.resources.prefs -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text svneol=unset#application/xml
.settings/org.eclipse.wst.common.project.facet.core.xml -text svneol=unset#application/xml
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/web.xml -text svneol=unset#application/xml
WebContent/abms_data.jsp -text
WebContent/acs.jsp -text
WebContent/admin.jsp -text
WebContent/admin_delete.jsp -text
WebContent/admin_map_email.jsp -text
WebContent/admin_match_domain.jsp -text
WebContent/admin_match_incommon.jsp -text
WebContent/attrs.jsp -text
WebContent/autocomplete_test.jsp -text
WebContent/award_map.jsp -text
WebContent/dashboard.jsp -text
WebContent/dologin.jsp -text
WebContent/dologout.jsp -text
WebContent/domain_remap.jsp -text
WebContent/email/citizen_pending.jsp -text
WebContent/email/dua_pending.jsp -text
WebContent/email/in_process.jsp -text
WebContent/email/nag.jsp -text
WebContent/email/problem_resolution.jsp -text
WebContent/email/send.jsp -text
WebContent/fake_register.jsp -text
WebContent/footer.jsp -text
WebContent/head.jsp -text
WebContent/images/n3c_logo.png -text
WebContent/index.jsp -text
WebContent/logout.jsp -text
WebContent/mail_test.jsp -text
WebContent/membership.jsp -text
WebContent/metadata.jsp -text
WebContent/navbar.jsp -text
WebContent/profile.jsp -text
WebContent/project.jsp -text
WebContent/project_roster.jsp -text
WebContent/project_roster_feed.jsp -text
WebContent/register.jsp -text
WebContent/resources/autocomplete.css -text
WebContent/resources/autocomplete.js -text
WebContent/resources/d3.v4.min.js -text
WebContent/resources/n3c_login_style.css -text
WebContent/roster.jsp -text
WebContent/session.jsp -text
WebContent/site_mapping.jsp -text
WebContent/sls.jsp -text
WebContent/submit_award_mapping.jsp -text
WebContent/submit_award_suppress.jsp -text
WebContent/submit_binding.jsp -text
WebContent/submit_deletion.jsp -text
WebContent/submit_domain_mapping.jsp -text
WebContent/submit_enclave.jsp -text
WebContent/submit_link.jsp -text
WebContent/submit_membership.jsp -text
WebContent/submit_registration.jsp -text
WebContent/user_pending.jsp -text
WebContent/user_pending_feed.jsp -text
WebContent/user_roster.jsp -text
WebContent/user_roster_feed.jsp -text
WebContent/user_scan.jsp -text
/pom.xml -text
